{% extends "layout.html" %}
{% block title %}
Contact Us
{% endblock %}
{% block content %}
<p>Thanks for visiting the page! We hope you enjoyed checking out our work. 
    If you would like to give us any feedback, feel free to email us at help@gmail.com. </p>
<p> Below is a place for you to enter some information:</p>

<form method='get'>
    <label for="myname">Enter Your Name</label>
    <input id="myname" type="text" name="firstname" value="Nada" />
    <input type="submit">
</form>

{% endblock %}
