<html>
   <head>
	<title>Record your audio here! </title>
   </head>
   <body>
      <p>Audio Recording</p>
      <form>
         <input id="start_button" type="button" value="Start Recording" />
         <input id="stop_button" type="button" value="Stop Recording" />
      </form>
    <article class="clip">
        <audio id="audio_playback" controls></audio>
        <div id="waveform"></div>
        <p>your clip name</p>
        <button>Delete</button>
    </article>
   </body>
   <script type=text/javascript src="{{url_for('static', filename='recordAudio.js') }}"></script>
   <script src="https://unpkg.com/wavesurfer.js@2.2.1/dist/wavesurfer.min.js"></script>
</html>
